:root {
    --sky: #b9d5ff;
    --blue: #3c5e90;
    --white: #fff;
    --red: #ff0000;
    --box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    --box-shadow-insert: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    --yellow: #ffd159;
    --light-green: #a3f596;
  }
  .nav-home {
    display: flex;
  }
  .profileIcon{
    font-size: xx-large;
  }

.profileName {
  text-align: center;
  margin-top: 1em;
  padding: 0px;
}
.profilePic {
  border-radius: 10%;
  width: 15vw;
  image-rendering: crisp-edges;
}
.profile {
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 768px) {
  .profilePic{
    width: 40vw;
  }
}