:root {
    --sky: #b9d5ff;
    --blue: #3c5e90;
    --white: #fff;
    --red: #ff0000;
    --box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    --box-shadow-insert: inset 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
    --yellow: #ffd159;
    --light-green: #a3f596;
  }
  .nav-home {
    display: flex;
  }
  .profileIcon{
    font-size: large;
    color: red;
  }

.profileName {
  text-align: center;
  margin-top: 1em;
  padding: 0px;
}
.profilePic {
  border-radius: 10%;
  width: 15vw;
  image-rendering: crisp-edges;
}

.homeIcon{
  margin-bottom: 6rem;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../../assets/Recipe-asian-app.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: relative;
  background-color: #000;
  color: #fff
}
a{
  text-decoration: none;
  color: #fff;
}
.mainIcon{
  font-size: 0.5em;
  height: 1.5rem;
  border: 1px solid #b8bfc2;
  box-shadow: 1px 0px 6px white;
  background-color: #ffffff57;
  margin-left: 0.5em;
}
.txtIcon{
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
    color: #fff;
}


@media screen and (max-width: 768px) {
  .profilePic{
    width: 40vw;
  }
}

@media screen and (min-width: 768px) {
  .mainIcon{
    font-size: 2em;
    height: 2.5rem;
    border-radius: 5px;

  }

  .txtIcon{
    font-size: 1rem;
    line-height: 2;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
      color: #fff;
  }
}