body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
  background-image: url(/src/asset/Recipe-site.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media screen and (max-width: 360px) {
  body{
    background-image: url(./asset/Recipe-asian-app.png);
    max-height: 857px;
  }
  
}